/**
 * The base colors.
 *
 * @color PrimaryColor
 * @section Key Colors
 */
$color-primary: #004488 !default;

/**
 * The counter color.
 *
 * @color: CounterColor
 * @section Key Colors
 */
$color-secondary: #ee4400 !default;

/**
 * The Anchor color.
 *
 * @color: AnchorColor
 * @section Etc Colors
 */
$color-anchor: #004488 !default;

/**
 * The error color.
 *
 * @color: ErrorColor
 * @section Etc Colors
 */
$color-error: #cc0000 !default;










