$law-layer-index: (
  'modal':    1000,
  'header':    500,
  'nav':       400,
  'sidebar':   600,
  'category':  100,
  'selectbox': 100,
  'dropdown':  100,
  'shortcut':  100,
  'overlay':    50,
  'base':     auto,
  'ahead':       0,
  'behind':     -1
) !default;

@function layer-index( $name: 'base' ) {
  $z-index: 0;

  @if map-has-key( $law-layer-index, $name ) {
    $z-index: map-get( $law-layer-index, $name );
  } @else {
    $z-index: map-get( $law-layer-index, 'base' );
    @warn "Name in the layer index:#{$name} is not defined.";
  }

  @return $z-index;
}