/**
 * @color Alert Default
 * @section Color Palettes - Alert
 */
$color-alert-default: #f5f5f5 !default;

/**
 * @color Alert Success
 * @section Color Palettes - Alert
 */
$color-alert-success: #dff0d8 !default;

/**
 * @color Alert Info
 * @section Color Palettes - Alert
 */
$color-alert-info:    #d9edf7 !default;

/**
 * @color Alert Warning
 * @section Color Palettes - Alert
 */
$color-alert-warning: #fcf8e3 !default;

/**
 * @color Alert Danger
 * @section Color Palettes - Alert
 */
$color-alert-danger:  #f2dede !default;