/**
 * @color Default Red
 * @section Color Palettes - Default
 */
$n-color-default-red: #E84E3C;

/**
 * @color Default Orange
 * @section Color Palettes - Default
 */
$n-color-default-orange: #F29933;

/**
 * @color Default Yellow
 * @section Color Palettes - Default
 */
$n-color-default-yellow: #F2C10F;

/**
 * @color Default Lime
 * @section Color Palettes - Default
 */
$n-color-default-lime: #99DE37;

/**
 * @color Default Green
 * @section Color Palettes - Default
 */
$n-color-default-green: #33D463;

/**
 * @color Default Emerald
 * @section Color Palettes - Default
 */
$n-color-default-emerald: #31DEA7;

/**
 * @color Default Cyan
 * @section Color Palettes - Default
 */
$n-color-default-cyan: #36CFE0;

/**
 * @color Default Aqua
 * @section Color Palettes - Default
 */
$n-color-default-aqua: #49AAE3;

/**
 * @color Default Blue
 * @section Color Palettes - Default
 */
$n-color-default-blue: #427AE3;

/**
 * @color Default Deepblue
 * @section Color Palettes - Default
 */
$n-color-default-deepblue: #4353E0;

/**
 * @color Default Violet
 * @section Color Palettes - Default
 */
$n-color-default-violet: #8B41E0;

/**
 * @color Default Purple
 * @section Color Palettes - Default
 */
$n-color-default-purple: #C34FE0;

/**
 * @color Default Winered
 * @section Color Palettes - Default
 */
$n-color-default-winered: #EB497F;