/**
 * @color Japan Red
 * @section Color Palettes - Japan
 */
$n-color-japan-red: #e83929;

/**
 * @color Japan Orange
 * @section Color Palettes - Japan
 */
$n-color-japan-orange: #f08300;

/**
 * @color Japan Yellow
 * @section Color Palettes - Japan
 */
$n-color-japan-yellow: #ffd900;

/**
 * @color Japan Lime
 * @section Color Palettes - Japan
 */
$n-color-japan-lime: #98d98e;

/**
 * @color Japan Green
 * @section Color Palettes - Japan
 */
$n-color-japan-green: #007b43;

/**
 * @color Japan Emerald
 * @section Color Palettes - Japan
 */
$n-color-japan-emerald: #38b48b;

/**
 * @color Japan Cyan
 * @section Color Palettes - Japan
 */
$n-color-japan-cyan: #a0d8ef;

/**
 * @color Japan Aqua
 * @section Color Palettes - Japan
 */
$n-color-japan-aqua: #2ca9e1;

/**
 * @color Japan Blue
 * @section Color Palettes - Japan
 */
$n-color-japan-blue: #007bbb;

/**
 * @color Japan DeepBlue
 * @section Color Palettes - Japan
 */
$n-color-japan-deepblue: #223a70;

/**
 * @color Japan Violet
 * @section Color Palettes - Japan
 */
$n-color-japan-violet: #65318e;

/**
 * @color Japan Purple
 * @section Color Palettes - Japan
 */
$n-color-japan-purple: #b44c97;

/**
 * @color Japan Winered
 * @section Color Palettes - Japan
 */
$n-color-japan-winered: #e95295;